<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanou3g.newdemo">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MessActivity"/>
        <activity android:name=".activity.NewsLBActivity"/>
        <activity android:name=".activity.NewsCheckActivity"/>
        <activity android:name=".activity.NewsListActivity"/>
        <activity android:name=".activity.MoreActivity" android:theme="@style/MyDialogStyleBottom"/>
        <activity android:name=".activity.MyPhoneActivity" android:theme="@style/MyDialogStyleBottom"/>
        <activity android:name=".activity.MySetActivity"/>
        <activity android:name=".activity.DownActivity"/>
        <activity android:name=".activity.ShareActivity" android:theme="@style/MyDialogStyleBottom"/>

        <activity android:name=".found.secondinterface.FoundInvestActivity"/>
    </application>

</manifest>